@let buttonIcon = currentIcon();
<ion-button id="sliderBtn" class="icon-only-svg" shape="round" fill="clear" (click)="presentPopover($event)">
  <img [src]="buttonIcon" alt="icon" />
</ion-button>
<ion-popover
  side="bottom"
  alignment="center"
  (ionPopoverWillPresent)="value.set(defaultValue())"
  [keepContentsMounted]="true"
>
  <ng-template>
    <ion-content class="ion-padding">
      <ion-range
        aria-label="slider"
        [ticks]="true"
        [snaps]="true"
        [pin]="true"
        [pinFormatter]="valueFormatter"
        [step]="step()*10"
        [min]="range().min"
        [max]="range().max"
        [value]="value() * 10"
        (ionInput)="value.set($any($event.detail.value) / 10)"
      />
      <div class="ion-text-center">{{ value() + unit() }}</div>
    </ion-content>
  </ng-template>
</ion-popover>
