<ion-header>
  <ion-toolbar>
    <ion-title>Sleep</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="total-nap-header">
    <div class="header-content">
      <div class="date-picker-wrapper">
        <ion-datetime-button datetime="currentDate" class="date-button" />
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime #currentDate
              id="currentDate"
              presentation="date"
              [preferWheel]="true"
              hourCycle="h23"
              [formatOptions]="{date: { day: '2-digit', month: 'short', year: 'numeric'}}"
              [max]="formatDisplayTime(now())">
              <ion-buttons slot="buttons">
                <ion-button (click)="currentDate.confirm(true); onDateChange(currentDate.value)">
                  Done
                </ion-button>
              </ion-buttons>
            </ion-datetime>
        </ng-template>
        </ion-modal>
      </div>
      <div class="header-text">
        <h3>Total Nap</h3>
        <span class="total-time">{{ totalNapTime().totalNapTime | duration }}</span>
      </div>
      <div class="header-text">
        <h3>Total Sleep</h3>
        <span class="total-time">{{ totalNapTime().totalSleepTime | duration }}</span>
      </div>
    </div>
  </div>

  <div class="card-container">
    @for (period of periods(); track $index) {
      @if (period.type === 'wake') {
        <ion-card class="wake-card">
          <ion-card-content>
            <div class="wake-grid">
              <div class="title-with-icon">
                <ion-icon name="sunny"></ion-icon>
                <h2>Awake</h2>
              </div>
              <div></div>
              <div class="wake-duration">
                {{ period.duration | duration }}
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      }@else {
        <ion-item-sliding #slidingItem>
          <ion-item class="transparent-item">
            <ion-card [class]="{'nap-card': period.type === 'nap', 'sleep-card': period.type === 'sleep'}" 
                      (click)="period.isOngoing ? editNap(period, slidingItem) : null">
              <ion-card-content [class.tomorrow]="period.tomorrow">
                <div class="card-grid">
                  <div class="card-section title-section">
                    <div class="title-with-icon">
                      <ion-icon name="moon"></ion-icon>
                      <h2>{{ period.type === 'nap' ? 'Nap' : 'Sleep' }}</h2>
                    </div>
                  </div>

                  <div class="card-section time-section">
                    <div class="time-info">
                      <div class="time-point">
                        <ion-icon name="time-outline" size="small"></ion-icon>
                        <span class="label">Start:</span>
                        <span class="time">{{ formatTime(period.startTime) }}</span>
                      </div>
                      <div class="time-point">
                        <ion-icon name="time-outline" size="small"></ion-icon>
                        <span class="label">End:</span>
                        <span class="time" [class.ongoing]="period.isOngoing">
                          {{ period.isOngoing ? 'Ongoing' : formatTime(period.endTime) }}
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="card-section duration-section">
                    @if (period.duration) {
                      <div class="duration-badge">{{ period.duration | duration }}</div>
                    }
                  </div>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="success" (click)="editNap(period, slidingItem)">
              <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-item-option>
            <ion-item-option color="danger" (click)="removeNap(period.id!, slidingItem)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      }
    }
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="createNap()" [disabled]="napOngoing()">
      <ion-icon name="bed" />
    </ion-fab-button>
  </ion-fab>
</ion-content>
