<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>history</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-text-center header">
    <ion-button
      fill="clear"
      size="medium"
      (click)="prevDay()"
      [disabled]="prevDisabled()"
    >
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
    <h2>{{ selectedDateRelative() }}</h2>
    <ion-button
      fill="clear"
      size="medium"
      (click)="nextDay()"
      [disabled]="nextDisabled()"
    >
      <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
    </ion-button>
  </div>
  <div class="summary">
    <div class="summary-item">
      <img src="assets/svg/bottle-full.svg" alt="baby-bottle" />
      <span>{{summary().bottle}}</span>
    </div>
    <div class="summary-item">
      <img src="assets/svg/pee-full.svg" alt="pee-drops" />
      <span>{{summary().pee}}</span>
    </div>
    <div class="summary-item">
      <img src="assets/svg/poop-gold-yellow.svg" alt="last-poop" />
      <span>{{summary().poo}}</span>
    </div>
  </div>
  <ion-list [inset]="true">
    <ion-item *ngFor="let item of routines()">
      <div class="time-column">{{item.timestamp | date: 'HH:mm'}}</div>
      <div class="routine-grid">
        <div class="routine-item">
          <div class="icon-container">
            <img src="assets/svg/bottle-full.svg" alt="baby-bottle" />
            <span>{{item.bottleAmount}}</span>
          </div>
        </div>
        <div class="routine-item">
          <div class="icon-container">
            <img src="assets/svg/pee-full.svg" alt="pee-drops" />
            <span>{{item.peeAmount}}</span>
          </div>
        </div>
        <div class="routine-item">
          <div class="icon-container">
            <img src="assets/svg/poop-gold-yellow.svg" alt="last-poop" />
            <span>{{item.poopColor}}</span>
          </div>
        </div>
      </div>
      <ion-button size="medium" fill="clear" slot="end" (click)="routineService.deleteRoutine(item)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
