.header {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 32px;
}

.summary {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 32px;

  & > div {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

ion-item {
  display: flex;
  justify-content: space-evenly;
  gap: 24px;
  width: 100%;
  & > div {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 0 8px;
  }
}
