ion-datetime-button {
  margin-top: 32px;
}
.button-dial {
  height: 20rem;
  width: 20rem;
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  justify-items: center;
  align-items: center;
  margin: 32px auto;
}

.horizontal-split {
  grid-column: 1 / span 3;
  border: 1px solid #145acd;
  width: 100%;
}

.vertical-split {
  border: 1px solid #145acd;
  height: 100%;
}

ion-button {
  display: block;
  margin: auto 32px;
}
