<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Routine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-datetime-button datetime="datetime"></ion-datetime-button>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime
        id="datetime"
        hourCycle="h24"
        [value]="timestamp()"
      ></ion-datetime>
    </ng-template>
  </ion-modal>

  <div class="button-dial">
    <app-select-button
      [list]="poopButttons"
      (selectionChange)="poopColor.set($event)"
    />
    <div class="vertical-split"></div>
    <app-select-button
      [list]="peeButttons"
      (selectionChange)="peeAmount.set($event)"
    />
    <div class="horizontal-split"></div>
    <app-select-button
      [list]="bottleButtons"
      (selectionChange)="bottleAmount.set($event)"
    />
    <div class="vertical-split"></div>
    <app-slider-button
      (selectionChange)="temperature.set($event)"
    ></app-slider-button>
  </div>

  <ion-button (click)="saveRoutine()">
    <ion-icon slot="start" name="save"></ion-icon>
    Save
  </ion-button>
</ion-content>
