<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Routine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-datetime-button datetime="datetime"></ion-datetime-button>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime
        id="datetime"
        hourCycle="h24"
        [value]="timestamp()"
      ></ion-datetime>
    </ng-template>
  </ion-modal>

  <app-select-button [list]="poopButttons" />

  <app-select-button [list]="peeButttons" />

  <ion-button (click)="saveRoutine()">
    <ion-icon slot="start" name="save"></ion-icon>
    Save
  </ion-button>
</ion-content>
