ion-button.icon-only-svg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  --padding-end: 4px;
  --padding-start: 4px;
  transition: 0.4s;
}

ion-button.icon-only-svg:hover {
  transform: scale(1.05);
}
