<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Routine</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="back()" color="medium">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-datetime-button datetime="datetime"></ion-datetime-button>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime
        id="datetime"
        hourCycle="h24"
        [value]="timestamp()"
      ></ion-datetime>
    </ng-template>
  </ion-modal>

  <div class="button-dial">
    <app-select-button
      [list]="poopButttons"
      (selectionChange)="poopColor.set($event)"
    />
    <div class="vertical-split"></div>
    <app-select-button
      [list]="peeButttons"
      (selectionChange)="peeAmount.set($event)"
    />
    <div class="horizontal-split"></div>
    <app-slider-button
      [(value)]="bottleAmount"
      [rangeConfigs]="[
        { max: 30, icon: 'assets/svg/bottle-empty.svg' },
        { min: 30, max: 90, icon: 'assets/svg/bottle-quarter.svg' },
        { min: 90, max: 130, icon: 'assets/svg/bottle-half.svg' },
        { min: 130, max: 170, icon: 'assets/svg/bottle-threequarter.svg' },
        { min: 170, max: 200, icon: 'assets/svg/bottle-full.svg' }
      ]"
      [defaultIcon]="'assets/svg/bottle-empty.svg'"
      [defaultValue]="100"
      unit="ml"
      [step]="10"
    />
    <div class="vertical-split"></div>
    <app-slider-button
      [(value)]="temperature"
      [rangeConfigs]="[
        { min: 36, max: 36.5, icon: 'assets/svg/temperature-freeze.svg' },
        { min: 36.5, max: 36.8, icon: 'assets/svg/temperature-low.svg' },
        { min: 36.8, max: 37.2, icon: 'assets/svg/temperature-normal.svg' },
        { min: 37.2, max: 38, icon: 'assets/svg/temperature-high.svg' },
        { min: 38, max: 39, icon: 'assets/svg/temperature-burn.svg' }
      ]"
      [defaultIcon]="'assets/svg/temperature-empty.svg'"
      [defaultValue]="37.5"
      unit="°C"
      [step]="0.1"
    />
  </div>

  <ion-button (click)="saveRoutine()">
    <ion-icon slot="start" name="save"></ion-icon>
    Save
  </ion-button>
</ion-content>
