<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Diaper Up</ion-title>
    <ion-buttons slot="end">
      <ion-button id="link-btn" size="small">
        <ion-icon slot="icon-only" name="link"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-modal id="link-modal" trigger="link-btn">
      <ng-template>
        <div class="wrapper">
          <h1>Link accounts</h1>
          <div>Your ID is:</div>
          <div class="user-id">
            <code>{{userservice.currentUser()}}</code>
            <ion-button fill="clear" (click)="copyUserId()">
              <ion-icon slot="icon-only" name="copy"></ion-icon>
            </ion-button>
          </div>
          <p>Link your account to share data with your partner.</p>
          <ion-input
            #linkUserInput
            fill="outline"
            placeholder="add code"
          ></ion-input>
          <ion-button
            class="link-modal-btn ion-float-right"
            (click)="linkUser($any(linkUserInput.value))"
            >Link</ion-button
          >
        </div>
      </ng-template>
    </ion-modal>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="title">Today's stats</div>
    <div class="content">
      <div>
        <img src="assets/svg/diaper-color.svg" alt="diaper-color" />
        <h2>x {{totalDiapers()}}</h2>
      </div>
      <div>
        <img src="assets/svg/pee-full.svg" alt="pee-drops" />
        <h2>x {{totalPeed()}}</h2>
      </div>
      <div>
        <img src="assets/svg/bottle-full.svg" alt="baby-bottle" />
        <h2>
          Last feed <br />
          {{lastRoutine()?.timestamp| date:'H:mm'}}
        </h2>
      </div>
      <div>
        @let lastPoopRoutine = lastPoopTime();
        <img [src]="lastPoopRoutine.poopSvg" alt="last-poop" />
        <h2>{{lastPoopRoutine.time}}</h2>
      </div>
    </div>
    <ion-button class="start-routine" [routerLink]="['/routine']" shape="round">
      Start Routine
    </ion-button>
  </div>
</ion-content>
